<h1 class="university">POLITECHNIKA ŚWIĘTOKRZYSKA</h1>
<h2 class="faculty">Wydział Elektrotechniki, Automatyki i Informatyki</h2>
<hr>

<table class="report-info">
    <tr>
        <td colspan="3"><strong>Laboratorium:</strong> Cyberbezpieczeństwo</td>
    </tr>
    <tr>
        <td colspan="3"><strong>Temat:</strong> <span class="lab-title"></span></td>
    </tr>
    <tr>
        <td width="40%">
            <strong>Wykonał:</strong><br>
            <input type="text" placeholder="Imię i nazwisko">
        </td>
        <td width="30%">
            <strong>Grupa:</strong><br>
            <input type="text" placeholder="Numer grupy">
        </td>
        <td width="30%">
            <strong>Data:</strong><br>
            <input type="date" placeholder="Data wykonania">
        </td>
    </tr>
</table>